/*&nbsp;&nbsp;&nbsp;html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)&nbsp;&nbsp;v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark&nbsp;&nbsp;html5doctor.com/html-5-reset-stylesheet/*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Added the below - Nancy */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* END RESET CSS */
:root {
  background: #efefef;
  color: #63687e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  width: 95%;
  margin: 2rem auto;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
}

.container.dark {
  background: #1e202a;
}

.container.dark .header {
  background: #1f212e;
}

.container.dark .header-text,
.container.dark .theme-text {
  color: #8b97c6;
}

.container.dark .header-text p::after {
  background-color: #8b97c6;
}

.container.dark .header-text h1,
.container.dark .overview-title {
  color: white;
}

.container.dark .card {
  background-color: #252a41;
}

.container.dark .card .follower-count,
.container.dark .card .overview-stats .overview-count {
  color: white;
}

.container.dark .card .follower-name,
.container.dark .card .follower-label,
.container.dark .card .overview-title,
.container.dark .card .overview-count-hdr {
  color: #8b97c6;
}

.container.dark .theme-selector .switch .slider::before {
  background-color: #252a41;
}

.header {
  background: #f5f7ff;
  padding: 2rem 5% 0 5%;
  margin-bottom: -2.5rem;
  border-radius: 0 0 5% 5%;
}

.header-text {
  width: 100%;
  position: relative;
}

.header-text h1 {
  font-size: 1.5rem;
  color: #1e202a;
  margin-bottom: 0.25rem;
}

.header-text p {
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  word-spacing: 0.05rem;
}

.header-text p::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 5rem;
  left: 0;
  background-color: #63687e;
}

.header-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
}

.header-theme .theme-text {
  font-size: 0.875rem;
  font-weight: 700;
}

.header-theme .theme-selector .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.header-theme .theme-selector .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header-theme .theme-selector .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  transition: 0.4s;
}

.header-theme .theme-selector .switch .slider::before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: #f0f2fa;
  transition: 0.4s;
}

.header-theme .theme-selector input:focus + .slider {
  box-shadow: 0 0 1px #aeb3cb;
}

.header-theme .theme-selector input:checked + .slider::before {
  transform: translateX(1.5rem);
}

.header-theme .theme-selector .slider.round {
  border-radius: 1rem;
}

.header-theme .theme-selector .slider.round::before {
  border-radius: 50%;
}

.header-theme .theme-selector:hover .slider.round,
.header-theme .theme-selector:focus .slider.round {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.header-theme .theme-selector:hover .slider.round::before,
.header-theme .theme-selector:focus .slider.round::before {
  border: 1px solid #1db489;
  box-shadow: 0 0 20px #1db489;
}

.img {
  background-image: url(../images/icon-down.svg);
  background-repeat: no-repeat;
  color: lime;
  height: 200px;
  width: 200px;
}

.card {
  margin: 0 5% 1rem;
  border-radius: 0.5rem;
  background-color: #f0f2fa;
}

.card .stats-change {
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.card .stats-change.up {
  color: #1db489;
}

.card .stats-change.down {
  color: #dc414c;
}

.card .stats-change.up::before,
.card .stats-change.down::before {
  position: absolute;
  content: "";
}

.card .stats-change.up::before {
  background-image: url(../images/icon-up.svg);
}

.card .stats-change.down::before {
  background-image: url(../images/icon-down.svg);
}

.follower-card {
  padding: 2.5rem 3rem 1.75rem;
  text-align: center;
}

.follower-card .follower-info {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.follower-card .follower-info .follower-source {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
  right: calc(100% + 0.5rem);
  top: -0.2rem;
}

.follower-card .follower-info .follower-name {
  font-size: 0.75rem;
  font-weight: 700;
}

.follower-card .follower-count {
  font-weight: 700;
  font-size: 3.8rem;
  color: #1e202a;
}

.follower-card .follower-label {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}

.follower-card .follower-change::before {
  height: 1rem;
  width: 1rem;
  right: calc(100% + 0.0025rem);
  bottom: -0.4rem;
  background-repeat: no-repeat;
}

.follower-card:last-of-type {
  margin-bottom: 2.5rem;
}

.follower-card.facebook {
  border-top: 3px solid #198ff5;
}

.follower-card.facebook .follower-source {
  background-image: url(../images/icon-facebook.svg);
}

.follower-card.twitter {
  border-top: 3px solid #1ca0f2;
}

.follower-card.twitter .follower-source {
  background-image: url(../images/icon-twitter.svg);
}

.instagram-border {
  width: 90%;
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, yellow, hotpink);
  border-image-slice: 0.5 1 0.5;
}

.follower-card.instagram .follower-source {
  background-image: url(../images/icon-instagram.svg);
}

.follower-card.youtube {
  border-top: 3px solid #c4032a;
}

.follower-card.youtube .follower-source {
  background-image: url(../images/icon-youtube.svg);
}

.overview {
  padding-bottom: 2rem;
}

.overview-title {
  font-size: 1.5rem;
  margin: 0 5% 1.5rem;
}

.overview-card {
  margin: 0 5% 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f0f2fa;
}

.overview-card .overview-top {
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.75rem;
}

.overview-card .overview-top .overview-count-hdr {
  font-size: 0.85rem;
  font-weight: 700;
}

.overview-card .overview-top .overview-source {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.15rem;
  width: 1.15rem;
  top: 0;
  right: 0;
}

.overview-card .overview-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.overview-card .overview-stats .overview-count {
  color: #1e202a;
  font-size: 2rem;
  font-weight: 700;
}

.overview-card .overview-stats .overview-change::before {
  height: 0.25rem;
  width: 0.5rem;
  left: -0.75rem;
  bottom: 0.3rem;
}

.overview-card:last-of-type {
  margin-bottom: 2rem;
}

.overview-card.facebook .overview-source {
  background-image: url(../images/icon-facebook.svg);
}

.overview-card.twitter .overview-source {
  background-image: url(../images/icon-twitter.svg);
}

.overview-card.instagram .overview-source {
  background-image: url(../images/icon-instagram.svg);
}

.overview-card.youtube .overview-source {
  background-image: url(../images/icon-youtube.svg);
}

.attribution {
  font-family: var(--global-attribute-font-family);
  color: var(--global-attribute-font-color);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 900px) {
  .header {
    margin-bottom: -7.5rem;
    padding-bottom: 7.5rem;
  }
  .header .header-text h1 {
    font-size: 2rem;
  }
  .header .header-text p {
    font-size: 1rem;
  }
  .header .header-text p::after {
    height: 0;
    width: 0;
  }
  .header .theme-text {
    margin-right: 1rem;
  }
  .header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
  }
  .followers {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
  }
  .followers .follower-card {
    margin: 0 1rem 2rem;
    min-width: 17rem;
  }
  .followers .instagram-border {
    width: inherit;
    max-width: 17rem;
  }
  .overview {
    width: 85%;
    margin: 0 auto;
  }
  .overview .overview-title {
    margin: 0 0 1.5rem;
    padding-left: 1.9rem;
  }
  .overview .overview-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .overview .overview-cards .overview-card {
    margin: 0 1rem 1rem;
    min-width: 17rem;
  }
}
/*# sourceMappingURL=style.css.map */