:root {
    background: $bodyBg;
    color: $lightText;
    font-family: $defaultFontStyle;
    font-weight: $defaultFontWeight;
}
.container {
    width: 95%;
    margin: 2rem auto;
    background: $bg;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
}
.container.dark {
    background: $bgDark;
    .header {
        background: $forPatternDark;
    }
    .header-text,
    .theme-text {
        color: $darkTextDark;
    }
    .header-text {
        p::after {
            background-color: $darkTextDark;
        }
    }
    .header-text h1,
    .overview-title {
        color: $lightTextDark;
    }
    .card {
        background-color: $cardBgDark;
        .follower-count,
        .overview-stats .overview-count {
            color: $lightTextDark;
        }
        .follower-name,
        .follower-label,
        .overview-title,
        .overview-count-hdr {
            color: $darkTextDark;
        }
    }
    .theme-selector {
        .switch .slider::before {
            background-color: $cardBgDark;
        }
    }
}
.header {
    background: $forPattern;
    padding: 2rem $gutter 0 $gutter;
    margin-bottom: -2.5rem;
    border-radius: 0 0 5% 5%;
}
.header-text {
    width: 100%;
    position: relative;
    h1 {
        font-size: 1.5rem;
        color: $darkText;
        margin-bottom: 0.25rem;
    }
    p {
        font-weight: $fontWeightBold;
        font-size: 0.875rem;
        margin-bottom: 3rem;
        word-spacing: 0.05rem;
    }
    p::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        top: 5rem;
        left: 0;
        background-color: $lightText;
    }
}
.header-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5rem;
    .theme-text {
        font-size: 0.875rem;
        font-weight: $fontWeightBold;
    }
    .theme-selector {
        .switch {
            position: relative;
            display: inline-block;
            width: 3rem;
            height: 1.5rem;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .switch .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $toggle;
            transition: 0.4s;
        }
        .switch .slider::before {
            position: absolute;
            content: "";
            height: 1.25rem;
            width: 1.25rem;
            left: 0.125rem;
            bottom: 0.125rem;
            background-color: $cardBg;
            transition: 0.4s;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px $toggle;
        }
        input:checked + .slider::before {
            transform: translateX(1.5rem);
        }
        .slider.round {
            border-radius: 1rem;
        }
        .slider.round::before {
            border-radius: 50%;
        }
    }
    .theme-selector:hover,
    .theme-selector:focus {
        .slider.round {
            background: $toggleDark;
        }
        .slider.round::before {
            border: 1px solid $limeGreen;
            box-shadow: 0 0 20px $limeGreen;
        }
    }
}
.img {
    background-image: url(../images/icon-down.svg);
    background-repeat: no-repeat;
    color: lime;
    height: 200px;
    width: 200px;
}
.card {
    margin: 0 $gutter 1rem;
    border-radius: 0.5rem;
    background-color: $cardBg;
    .stats-change {
        font-size: 0.75rem;
        font-weight: $fontWeightBold;
        position: relative;
        display: inline-block;
    }
    .stats-change.up {
        color: $limeGreen;
    }
    .stats-change.down {
        color: $brightRed;
    }
    .stats-change.up::before,
    .stats-change.down::before {
        position: absolute;
        content: "";
    }
    .stats-change.up::before {
        background-image: url(../images/icon-up.svg);
    }
    .stats-change.down::before {
        background-image: url(../images/icon-down.svg);
    }
}
.follower-card {
    padding: 2.5rem 3rem 1.75rem;
    text-align: center;
    .follower-info {
        margin-bottom: 1rem;
        position: relative;
        // Doing this let me position the image properly from the name for each source
        display: inline-block;
        .follower-source {
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1.25rem;
            height: 1.25rem;
            right: calc(100% + 0.5rem);
            top: -0.2rem;
        }
        .follower-name {
            font-size: 0.75rem;
            font-weight: $fontWeightBold;
        }
    }
    .follower-count {
        font-weight: $fontWeightBold;
        font-size: 3.8rem;
        color: $darkText;
    }
    .follower-label {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        margin-bottom: 2rem;
    }
    .follower-change::before {
        height: 1rem;
        width: 1rem;
        // This let me put the arrow at a consistent distance from the number
        right: calc(100% + 0.0025rem);
        bottom: -0.4rem;
        background-repeat: no-repeat;
    }
}
.follower-card:last-of-type {
    margin-bottom: 2.5rem;
}
.follower-card.facebook {
    border-top: 3px solid $facebook;
    .follower-source {
        background-image: url(../images/icon-facebook.svg);
    }
}
.follower-card.twitter {
    border-top: 3px solid $twitter;
    .follower-source {
        background-image: url(../images/icon-twitter.svg);
    }
}

// Could not figure out the rounded corners at this time :(
.instagram-border {
    width: 90%;
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, yellow, hotpink);
    border-image-slice: 0.5 1 0.5;
}
.follower-card.instagram {
    .follower-source {
        background-image: url(../images/icon-instagram.svg);
    }
}
.follower-card.youtube {
    border-top: 3px solid $youtube;
    .follower-source {
        background-image: url(../images/icon-youtube.svg);
    }
}
.overview {
    padding-bottom: 2rem;
}
.overview-title {
    font-size: 1.5rem;
    margin: 0 $gutter 1.5rem;
}
.overview-card {
    margin: 0 $gutter 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: $cardBg;
    .overview-top {
        display: flex;
        justify-items: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 1.75rem;
        .overview-count-hdr {
            font-size: 0.85rem;
            font-weight: $fontWeightBold;
        }
        .overview-source {
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            background-size: cover;
            height: 1.15rem;
            width: 1.15rem;
            top: 0;
            right: 0;
        }
    }
    .overview-stats {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .overview-count {
            color: $darkText;
            font-size: 2rem;
            font-weight: $fontWeightBold;
        }
        .overview-change::before {
            height: 0.25rem;
            width: 0.5rem;
            left: -0.75rem;
            bottom: 0.3rem;
        }
    }
}
.overview-card:last-of-type {
    margin-bottom: 2rem;
}
.overview-card.facebook {
    .overview-source {
        background-image: url(../images/icon-facebook.svg);
    }
}
.overview-card.twitter {
    .overview-source {
        background-image: url(../images/icon-twitter.svg);
    }
}
.overview-card.instagram {
    .overview-source {
        background-image: url(../images/icon-instagram.svg);
    }
}
.overview-card.youtube {
    .overview-source {
        background-image: url(../images/icon-youtube.svg);
    }
}
.attribution {
    font-family: var(--global-attribute-font-family);
    color: var(--global-attribute-font-color);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

// use this link example to change colors: https://jsfiddle.net/sm7a2qv8/
